<template name="headerCta">
	{{#if email}}
	<div class="thanks">
		<h3 style="color:#FFF">Thank you <span style="color: cyan">{{email}}</span>. Brace yourself for SPAM!</h3>
	</div>
	{{else}}
	<form class="form-email">
		<div class="input-field">
			<input placeholder="Find your pet friends by email, username, pet name" id="first_name" name="email" type="text" class="validate"/>
		</div>
		<button class="text-center btn waves-effect waves-light cyan white-text" type="submit" name="action">Fetch!
			<i class="fa fa-paw white-text text-center"></i>
		</button>
	</form>
	{{/if}}
	<!-- 
	<div>
		{{#each emails}}
			{{email}}<br/>
		{{/each}}
	</div> 
	-->
</template>
