<template name="landing">
	<div class="row">
		{{> landingJumbotron}}
	</div>
	<div class="row">
		{{> landingSubheader}}
	</div>

	<div class="row">
		<div class="container">
			{{> landingTiles}}
		</div>
	</div>

	<div class="row" style="background-color: #46ADC1; padding: 50px 0; text-align:center; margin-bottom:0">
		<img src="images/pet-pal-footer-photo.png"/>
	</div>

	<div class="row">
		<div class="container" style="padding-top: 30px; padding-bottom: 30px; text-align: center;">
			{{> landingFooter}}
		</div>
	</div>
</template>
