template(name='about')
  br
  br
  p PetPal’s mission is to empower pets and people through technology, awareness, and social connection. We know that your pet is one of the most important parts of your life and we want to celebrate that unique relationship to its fullest. From the research you do before adopting or owning your pet, to the first day you take them home with you, to the true companionship you build, through the happy and challenging (potty-training) times you’ve shared with your pet, PetPal wants to help you along with the journey.
  br
  p By offering a platform for pet owners to connect with each other, we hope to provide not only informational resources but also a strong community for both pets and animal lovers to meet and come together. PetPal is a place for us to share personal pet stories, photos, product reviews, animal friendly trails and parks, and veterinarian health advice. It also can help us in the most trying situations—when our pets go missing—through the Amber Alert system and hardware.
  br
  p We will launch our first product version in Q1 2016, initially focusing on Dog owners. As we grow, we will expand our PetPal community to Cats, Horses, and other animals. Please join us as we build our pet and animal enthusiast network around the world!
  br
  h4 The Founders
  p PetPal was founded in mid-2015 during a conversation Steven and Sam had regarding the lack of community and centralized resources available for pets and their owners. They envisioned an application that would provide a space for pets and people to come together to share and discuss all aspects of ownership, particularly around the health and wellbeing of animals and the invaluable companionship of owning a pet.
  ul.collection
    li.collection-item.avatar
      img.circle(src='https://media.licdn.com/media/p/7/005/04e/202/2266603.jpg', alt='')
      span.title Steven Choi
      p More about Steven
    li.collection-item.avatar
      img.circle(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJ2AAAAJGMwM2FkMDRmLTk4N2QtNDI4ZC1hZWM1LTcyNTkzNjFmYWRmMA.jpg', alt='')
      span.title Sam Jacobs
      p Sam loves his Mini Australian Shephard, Ozzie
  h4 The Founding class
  p PetPal’s Founding Class is comprised of Silicon Valley’s Top Talent. With experience from companies such as Google, Samsung, PayPal, NASA, Yahoo, and Tesla Motors, the team collectively brings outstanding technical, design, and business expertise to the PetPal product. The Founding Class shares in the forward-thinking vision for how PetPal can transform and shape the pet ownership space.
  ul.collection
    li.collection-item.avatar
      img.circle(src='https://media.licdn.com/media/p/2/000/236/337/1d2e253.jpg', alt='')
      span.title Kevan Mah
      p More about Kevan Mah
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title James Chong
      p More about James
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Ian baker
      p More about Ian
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title John Kang
      p More about John
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Daeun Lee
      p More about Daeun
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Hanna Lee
      p More about Hanna
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Anthony Lee
      p More about Ant
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Ian baker
      p More about Ian
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Wendy Chuah
      p More about Wendy
  h4 PetPal Advisor
  p PetPal believes in the Pet’s perspective. To help us correctly identify and define what that perspective is we have a dedicated Veterinarian to advise our team and help guide our company direction. Our commitment is truly to the pets themselves and our Veterinarian Advisor’s role is to hold us accountable to that commitment, and to ensure our content and information is correct and current. 
  ul.collection
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Dr. Varsha Ramoutar
      p More about Dr. Ramoutar
  h4 PetPal Alumni
  h5 Omid Ahourai
  h5 Bertrand Tay
  p Our PetPal Alumni are key team members who have significantly contributed to PetPal. Due to alternative commitments, however, alumni could no longer continue their valuable work on the product. Their help and support will always be recognized and appreciated! 
  ul.collection
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Omid Ahourai
      p More about Omid
    li.collection-item.avatar
      img.circle(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png', alt='')
      span.title Bertrand Tay
      p More about Bert
