template(name='about')
  p PetPal’s mission is to empower pets and people through technology, awareness, and social connection. We know that your pet is one of the most important parts of your life and we want to celebrate that unique relationship to its fullest. From the research you do before adopting or owning your pet, to the first day you take them home with you, to the true companionship you build, through the happy and challenging (potty-training) times you’ve shared with your pet, PetPal wants to help you along with the journey.
  br
  p By offering a platform for pet owners to connect with each other, we hope to provide not only informational resources but also a strong community for both pets and animal lovers to meet and come together. PetPal is a place for us to share personal pet stories, photos, product reviews, animal friendly trails and parks, and veterinarian health advice. It also can help us in the most trying situations—when our pets go missing—through the Amber Alert system and hardware.
  br
  p We will launch our first product version in Q1 2016, initially focusing on Dog owners. As we grow, we will expand our PetPal community to Cats, Horses, and other animals. Please join us as we build our pet and animal enthusiast network around the world!
  br
  h4 The Founders
  h5 Steven Choi
  h5 Sam Jacobs
  p PetPal was founded in mid-2015 during a conversation Steven and Sam had regarding the lack of community and centralized resources available for pets and their owners. They envisioned an application that would provide a space for pets and people to come together to share and discuss all aspects of ownership, particularly around the health and wellbeing of animals and the invaluable companionship of owning a pet.
  br
  h4 The Founding class
  h5 Kevan Mah
  br
  h5 James Chong
  h5 Ian baker
  h5 John Kang
  h5 Daeun Lee
  h5 Hanna Lee
  h5 Anthony Lee
  h5 Bertrand Tay
  br
  h5 Wendy Chuah
  br
  p PetPal’s Founding Class is comprised of Silicon Valley’s Top Talent. With experience from companies such as Google, Samsung, PayPal, NASA, Yahoo, and Tesla Motors, the team collectively brings outstanding technical, design, and business expertise to the PetPal product. The Founding Class shares in the forward-thinking vision for how PetPal can transform and shape the pet ownership space.
  br
  h4 PetPal Advisor
  h5 Dr. Varsha Ramoutar
  p PetPal believes in the Pet’s perspective. To help us correctly identify and define what that perspective is we have a dedicated Veterinarian to advise our team and help guide our company direction. Our commitment is truly to the pets themselves and our Veterinarian Advisor’s role is to hold us accountable to that commitment, and to ensure our content and information is correct and current. 
  br
  h4 PetPal Alumni
  h5 Omid Ahourai
  h5 Bertrand Tay
  br
  p Our PetPal Alumni are key team members who have significantly contributed to PetPal. Due to alternative commitments, however, alumni could no longer continue their valuable work on the product. Their help and support will always be recognized and appreciated! 
  
  
