<template name="footer">
  <footer>

        <ul class="text-center text-muted">
          <li>&copy; 2015 PetPal</li>
          <li><a href="/about">About</a></li>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
        <!-- <ul class="collapsible popout" data-collapsible="accordion">
         <li>
           <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
           <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
         </li>
       </ul> -->
  </footer>
</template>
