/* -------------------------
Imports
--------------------------*/
@import "./lib/bootstrap/bootstrap.import.less";
@import "./lib/font-awesome/font-awesome.import.less";

/* -------------------------
Custom
--------------------------*/
@import './mixins.import.less';
@import './variables.import.less';
@import './type.import.less';
@import './grid.import.less';
@import './buttons.import.less';


/* -------------------------
Variables
--------------------------*/
@import "variables.import.less";

@brand-primary: #26ACC1;

@navbar-height: 76px;
@navbar-default-bg: fade(@brand-primary, 50%);
@navbar-default-link-color: #FFF;
@navbar-default-link-hover-color: @navbar-default-link-color;
@navbar-default-link-active-color: @navbar-default-link-color;
@navbar-default-link-hover-bg: fade(lighten(@brand-primary, 10%), 50%);


/* -------------------------
Customized Styles
--------------------------*/
#iron-router-progress {
	background-color : @brand-primary;
	box-shadow       : 0 0 5px @brand-primary;
}

.page-actions {
  margin-top: -46px;
}

.icon {
	display: inline-block;
}

.vcenter {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border:none;
}
