@import "./lib/bootstrap/buttons.import.less";

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    cursor: pointer !important;
}
