<template name="landingSubheader">
	<div class="landing-tiles">
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card1.png">
				</div>
				<div>
					<p><strong>Sign up for free</strong> and build an awesome pet profile</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card2.png">
				</div>
				<div>
					<p><strong>Connect with friends</strong> and share photos and videos of your pet</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card3.png">
				</div>
				<div>
					<p><strong>Find your friends on PetPal</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card4.png">
				</div>
				<div>
					<p><strong>Discuss</strong> your favorite parks, vets, and producst</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card5.png">
				</div>
				<div>
					<p><strong>Amber Alert for Pets</strong> If your pet gets lost, we alert everyone on PetPal and local users can return your loved one</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card6.png">
				</div>
				<div>
					<p><strong>Share your pet knowledge</strong> with other owners in the commuity with the Tip of the Day</p>
				</div>
			</div>
		</div>
	</div>
</template>
