<template name="landingTiles">
	<div class="landing-tiles row">
		<div class="container">
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Sign up for free</strong> and build an awesome pet profile</p>
				</div>
				<img src="{{c.url imgTiles.[0].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Connect with friends</strong> and share photos and videos of your pet</p>
				</div>
				<img src="{{c.url imgTiles.[1].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Find your friends on PetPal</strong></p>
				</div>
				<img src="images/card3.png" />
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Discuss</strong> your favorite parks, vets, and products</p>
				</div>
				<img src="{{c.url imgTiles.[3].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Amber Alert for Pets</strong> If your pet gets lost, we alert everyone on PetPal and local users can return your loved one</p>
				</div>
				<img src="images/card5.png" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<p><strong>Share your pet knowledge</strong> with other owners in the commuity with the Tip of the Day</p>
				</div>
				<img src="{{c.url imgTiles.[5].public_id width='256' height='256' quality='70'}}" />
			</div>
		</div>
	</div>
</template>
