<template name="landingTiles">
	<div class="landing-tiles row">
		<div class="container">
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">1</div>
					<p><strong>Sign up for free</strong><br/>build your pet profile</p>
				</div>
				<img src="{{c.url imgTiles.[0].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">2</div>
					<p><strong>Connect with friends</strong><br/>share pet photos &amp; videos</p>
				</div>
				<img src="{{c.url imgTiles.[1].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">3</div>
					<p><strong>See who's in the area</strong><br/>using geo-location tracking</p>
				</div>
				<img src="{{c.url imgTiles.[2].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="clearfix visible-md-block visible-lg-block"></div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">4</div>
					<p><strong>Discuss &amp; Review</strong><br/>products, vets, parks &amp; more</p>
				</div>
				<img src="{{c.url imgTiles.[3].public_id width='256' height='256' quality='70'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">5</div>
					<p><strong>Amber Alert</strong><br/>safety assurance for lost pets</p>
				</div>
				<img src="{{c.url imgTiles.[4].public_id width='256' height='256'}}" />
			</div>
			<div class="col-md-4 col-sm-6 tile">
				<div class="caption">
					<div class="num">6</div>
					<p><strong>Share your knowledge</strong><br/>community tip-of-the-day</p>
				</div>
				<img src="{{c.url imgTiles.[5].public_id width='256' height='256' quality='70'}}" />
			</div>
		</div>
	</div>
</template>
