<template name="newsfeed">
  <div class="template-newsfeed">
    <div class="page-header">
      <h1>News Feed</h1>
    </div>

    <form id="post-form" action="action">
      <fieldset>
        <legend>Content Type:</legend>
        <input type="radio" name="content-type" data-template="postFormBark" checked>Bark
        <input type="radio" name="content-type" data-template="postFormProduct">Product Review
        <input type="radio" name="content-type" data-template="postFormTip">Tip
      </fieldset>
      <div id="post-content">
        {{> Template.dynamic template=postFormType }}
      </div>
    </form>

    {{#each posts}}
      <!-- {{> newsfeedItem}} -->
      {{> Template.dynamic template=(templateNameForType type)}}
    {{/each}}

    {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
      <!-- <span class="loading"></span> -->
      <div class="loading">&nbsp;</div>
    </div>
    {{/if}}

  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comment</h4>
        </div>
        <div class="modal-body">
          <form id="comment-form" action="action">
            <textarea name="comment-content" id="comment-content"></textarea>
          </form>
          <div class="comment-section">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</template>
