template(name='header')
  nav
    .nav-wrapper    
      a.brand-logo(href='/')
        img(src='images/logo-icontext.png')
      a.button-collapse.main-menu-icon(href='#', data-activates='side-nav')
        i.fa.fa-bars
      ul.right.hide-on-med-and-down
        li
          a(href='/PetProfile/{{currentUser._id}}') Profile
        li
          a(href='/newsfeed') News Feed
        li
          a(href='/profile') Profile (Deprecating)
      ul#side-nav.side-nav
        li
          a(href='/PetProfile/{{currentUser._id}}') Profile
        li
          a(href='/newsfeed') News Feed
        li
          a(href='/profile') Profile (Deprecating) 
        li
          a(href='#') Privacy
        li
          a(href='#') Settings
        li
          a(href='#') Policy
//- <template name="header">
//- 	<nav id="pp-nav" class="navbar navbar-default {{isSolid}}">
//- 		<div class="container-fluid">
//- 
//- 			<!-- Brand and toggle get grouped for better mobile display -->
//- 			<div class="navbar-header">
//- 				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
//- 					<span class="sr-only">Toggle navigation</span>
//- 					<span class="icon-bar"></span>
//- 					<span class="icon-bar"></span>
//- 					<span class="icon-bar"></span>
//- 				</button>
//- 				{{> headerLogo}}
//- 				<!-- <a class="navbar-brand" href="#">Brand</a> -->
//- 			</div>
//- 
//- 			<!-- Collect the nav links, forms, and other content for toggling -->
//- 			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
//- 				<ul class="nav navbar-nav navbar-right">
//- 					{{#if currentUser}}
//-           <li><a href="/profile">Profile(Deprecated)</a></li>
//- 						<li><a href="/PetProfile/{{currentUser._id}}">Profile</a></li>
//-             <li><a href="/newsfeed">News Feed</a></li>
//- 					{{/if}}
//- 					<li>{{> loginButtons}}</li>
//- 				</ul>
//- 			</div>
//- 			<!-- /.navbar-collapse -->
//- 		</div>
//- 		<!-- /.container-fluid -->
//- 	</nav>
//- </template>
