@import '/client/stylesheets/base.less';
nav {
  background-color: @brand-primary;
}
#pp-nav {
	#login-buttons {
		position: relative;
    	padding: 30px;

		.accounts-dialog {
			right: 0;
			left: auto;
		}

		.login-close-text {
			float: right;
		}

		a.login-link-text {
			color: #FFF;
		}
	}

	&.navbar {
		margin: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 1;
	    border: none;
    	border-radius: 0;
    	// background-color: fade(@brand-primary, 50%);
    	// background-color: @brand-primary;
	}

	&.solid {
		background-color: @brand-primary;
		position: relative;
	}
}
