@import (reference) url('/client/stylesheets/lib/bootstrap/variables.import.less');
.main-menu-icon {
  margin-left:20px;
}

.brand-logo:hover {
  margin-left:20px;
  margin-right:20px;
  &:hover {
    cursor: pointer;

  }
}

  // img {
  //   // TODO(jamesjychong): Discuss this with UX team; for now, this fixes overlap problem
  //   // when rendering for xs screen size
  //   @media (max-width: @screen-sm-max) {
  //     max-height: 30px;
  //   }
  // }

img#PetPal-header-logo{
  height:25px !important;
  margin-top:-25px !important;

}
