<template name="home">
	<div class="row">
		{{> jumbotron}}
		<form>
			<div class="row">
				<h3 class="white-text">
					Connecting people through their pets
				</h3>
			</div>
			<div class="row">
				<div class="input-field">
					<input placeholder="Find your pet friends by email, username, pet name" id="first_name" type="text" class="validate">
				</div>
			</div>
			<button class="text-center btn waves-effect waves-light cyan white-text" type="submit" name="action">Fetch!
				<i class="fa fa-paw white-text text-center"></i>
			</button>
		</form>
		<div>
			<div class="card no-border no-shadow">
				<div class="card-content text-center">
					<p>PetPal brings together pet lovers. We have created an ecosystem where they can share, discover and meet new pet friends and people friends</p>
				</div>
				<div class="card-action cyan-text">
					<a class="light-blue-text accent-2-text" href="#">bark!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card1.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Sign up for free</strong> and build an awesome pet profile</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card2.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Connect with friends</strong> and share photos and videos of your pet</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card3.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Find your friends on PetPal</strong></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card4.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Discuss</strong> your favorite parks, vets, and producst</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card5.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Amber Alert for Pets</strong> If your pet gets lost, we alert everyone on PetPal and local users can return your loved one</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card6.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Share your pet knowledge</strong> with other owners in the commuity with the Tip of the Day</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/pet-pal-footer-photo.png">
				</div>
				<div class="card-content text-center">
					<h4>Connecting pet owners throgh their pets</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row grey lighten-4">
		<div class="grey lighten-4">
			<div class="card no-border no-shadow grey lighten-4">
				<div class="card-content text-center">
					<h3>The Social Media Platform for Pet Owners</h3>
				</div>
				<div class="text-center">
					<i class="fa fa-facebook fa-2x cyan-text"></i>
					<i class="fa fa-twitter fa-2x cyan-text"></i>
					<i class="fa fa-google-plus fa-2x cyan-text"></i>
				</div>
			</div>
		</div>
	</div>
</template>
