<template name="home">
	<div class="row" style="position:relative; margin-bottom:0;">
		{{> jumbotron}}
		<div class="petpal-logo">
			{{> headerLogo}}
		</div>
		<div class="col head-content center-abs">
			<div class="text-center">
				<h2 class="white-text">
					Connecting people through their pets
				</h2>
			</div>
			<div>
				{{> headerCta}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card no-border no-shadow" style="margin: 0;">
			<div class="card-content text-center">
				<p style="margin: 0; font-size:1.5em;">PetPal brings together pet lovers. We have created an ecosystem where they can share, discover and meet new pet friends and people friends</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card1.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Sign up for free</strong> and build an awesome pet profile</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card2.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Connect with friends</strong> and share photos and videos of your pet</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card3.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Find your friends on PetPal</strong></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card4.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Discuss</strong> your favorite parks, vets, and producst</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card5.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Amber Alert for Pets</strong> If your pet gets lost, we alert everyone on PetPal and local users can return your loved one</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card no-border no-shadow">
				<div class="card-image">
					<img src="images/card6.png">
				</div>
				<div class="card-content text-center">
					<p><strong>Share your pet knowledge</strong> with other owners in the commuity with the Tip of the Day</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background-color: #46ADC1; padding: 50px 0; text-align:center; margin-bottom:0">
		<img src="images/pet-pal-footer-photo.png" class="img-responsive"/>
	</div>
	<div class="row grey lighten-4">
		<div class="grey lighten-4">
			<div class="card no-border no-shadow grey lighten-4" style="padding:30px;">
				<div class="card-content text-center">
					<h3 style="margin:0;">The Social Media Platform for Pet Owners</h3>
				</div>
				<div class="text-center">
					<i class="fa fa-facebook fa-2x cyan-text"></i>
					<i class="fa fa-twitter fa-2x cyan-text"></i>
					<i class="fa fa-google-plus fa-2x cyan-text"></i>
				</div>
			</div>
		</div>
	</div>
</template>
