template(name='landingAbout')
  h4 We know that your pet is one of the most important parts of your life and we want to celebrate that unique relationship to its fullest. From the research you do before adopting or owning your pet, to the first day you take them home with you, to the true companionship you build, through the happy and challenging (potty-training) times you’ve shared with your pet, PetPal wants to help you along with the journey.
  
