<template name="landingFooter">
	<div class="landing-footer row">
		<div class="container">
			<h3>The Social Media Platform for Pet Owners</h3>
			<div>
				<a class="icon" href="http://facebook.com/getpetpal" target="_blank">
					<svg class="petpal-fb-full over">
						<use xlink:href="#petpal-fb-full"></use>
					</svg>
					<svg class="petpal-fb-outline up">
						<use xlink:href="#petpal-fb-outline"></use>
					</svg>
				</a>
				<a class="icon" href="http://twitter.com/getpetpal" target="_blank">
					<svg class="petpal-tw-full over">
						<use xlink:href="#petpal-tw-full"></use>
					</svg>
					<svg class="petpal-tw-outline up">
						<use xlink:href="#petpal-tw-outline"></use>
					</svg>
				</a>
				<a class="icon" href="http://plus.google.com/getpetpal" target="_blank">
					<svg class="petpal-gp-full over">
						<use xlink:href="#petpal-gp-full"></use>
					</svg>
					<svg class="petpal-gp-outline up">
						<use xlink:href="#petpal-gp-outline"></use>
					</svg>
				</a>
				<a class="icon" href="http://pinterest.com/getpetpal" target="_blank">
					<svg class="petpal-pn-full over">
						<use xlink:href="#petpal-pn-full"></use>
					</svg>
					<svg class="petpal-pn-outline up">
						<use xlink:href="#petpal-pn-outline"></use>
					</svg>
				</a>
				<!-- <i class="fa fa-facebook fa-2x cyan-text"></i> -->
				<!-- <i class="fa fa-twitter fa-2x cyan-text"></i> -->
				<!-- <i class="fa fa-google-plus fa-2x cyan-text"></i> -->			
 			</div>
		</div>
	</div>
</template>
