<template name="newsfeedItem">
  <div class="item-container">
    
    <div class="item-header">
      <span class="user-info">
        <a href="/profile">
          <img src="images/card1.png" class="user-profile-photo"/>
          <span>User Name</span>
        </a>
      </span>
      <span class="item-meta vcenter">
        <span class="place"><a href="/"><i class="fa fa-map-marker">Dog Park</i></a></span>
        <span class="date">11/15/15</span>
      </span>
    </div>

    <div class="item-content">
      <p>I had a fun day at the park with my friends.</p>
      <img src="images/card2.png" />
    </div>

    <div class="bg-image" style="background-image: url('images/card2.png'); width:100px; height:200px;"></div>
    <div class="item-actions">
      <a href="/"><span class="fa fa-comments">23</span></a>
      <a href="/"><span class="fa fa-comments">23</span></a>
    </div>
  </div>
</template>
