<template name="newsfeedItem">
  <div class="item-container">
    <div class="item-vertical-section item-header">
      <div class="user-info">
        <a href="/profile">
          <img src="images/card1.png" class="user-profile-photo"/>
          <span>User Name{{userId}}</span>
        </a>
      </div>
      <div class="item-meta">
        <span class="place"><a href="/"><i class="fa fa-map-marker"></i>Dog Park{{placeId}}</a></span>
        <span class="date">11/15/15 {{createdAt}}</span>
      </div>
    </div>

    <div class="item-vertical-section item-content">
      <p>{{content}}</p>
      <img src="images/card2.png" />
    </div>

    <div class="item-vertical-section item-actions">
      <ul>
        <li><a class="action-barks" ><i class="fa fa-comments"></i>0</a></li>
        <li><a class="action-comments" data-toggle="modal" data-target="#myModal"><i class="fa fa-comments"></i>23</a></li>
      </ul>
    </div>

  </div>
</template>
