template(name="PetProfile")
  .containter-fluid
    .row
      .col.s6.m6
        .card.white.no-shadow.no-border
          .card-content
            .container-fluid
              .row
                .profile-photos
                  .pics
                    img.pet(src="{{c.url thisPet.profile.photo.public_id width='200' height='200' crop='fill' radius='max' border='0px_solid_white'}}")
                    img.owner(src="{{c.url userPic width='100' height='100' crop='fill' radius='max' border='0px_solid_white'}}")
      .col.s6.m6
        .card.white.no-shadow.no-border
          .card-content
            span.card-title
              h3.grey-darken-5-text {{thisPet.profile.name}}
              h6.black-text {{thisPet.profile.breed}}
            p.blue-text 
              @ {{thisPetsOwnerUsername}}
            p.light-blue-text 
              i.fa.fa-user
              | {{thisPetsOwnerProfile.firstName}} {{thisPetsOwnerProfile.lastName}}   
            p.grey-text  
              i.fa.fa-map-marker
              | {{thisPetsOwnerProfile.location.city}}, {{thisPetsOwnerProfile.location.state}}
          .card-action
            button.btn.light-blue.white-text(href='#') Follow
    .row
    table
      thead
      tbody
        tr
          td.text-center
            a(href='#')
              i.fa.fa-paw
          td.text-center
            a(href='#')
              i.fa.fa-paw
          td.text-center
            a(href='#')
              i.fa.fa-paw
          td.text-center
            a(href='#')
              i.fa.fa-paw
          td.text-center
            a(href='#')
              i.fa.fa-paw
